* {
  font-family: "Satoshi", sans-serif;
}
body {
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
/* Navbar */
.navbar-container {
  background-color: #2d4363;
  width: 100%;
  padding: 12px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;  /* fixa a navbar no topo */
  top: 0;
  left: 0;
  z-index: 1000;    /* bem na frente */

}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /* Deixa a logo branca */
}

.logo-text {
  font-family: "Julius Sans One", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin-top: 7px;

}

.middle-nav {
  display: flex;
  gap: 30px;
  align-items: center;

}

.nav-item {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s ease;
  position: relative;

}

.nav-item:hover {
  color: #d3cfff;
}

/* Aba selecionada */
.nav-item.selected {
  color: #d3cfff;
  font-weight: bold;
}

.nav-item.selected::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #d3cfff;
  bottom: -4px;
  left: 0;

}

/* Botão CTA */
#cta-button {
  background-color: #d3cfff;
  color: #030605;
  padding: 8px 16px;
  border-radius: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}

#cta-button:hover {
  background-color: lightslategray;
  color: white;
  transform: translateY(-2px);
}



/* teste */

.banner-container {
  position: relative;
  margin-top: 56; /* Removemos o margin-top anterior */
  z-index: 5;
}

.banner-img {
  width: 100%;
  display: block;
  border-radius: 0;

}

.content-area {
  padding-top: 56px; /* Apenas a altura do menu */
  position: relative;
  z-index: 2;
}
.butoes-cat {
  background-color: #2e2e2e;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-weight: bold;
}
.card-categorias {
  background-color: #1f1f1f;
  padding: 10px;
  color: white;

  justify-content: space-evenly;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
.tam-icon-categoria {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}
.centralizacao-categorias {
  justify-content: space-around !important;
  display: flex;
  flex-wrap: wrap;
}

.footer {
  background-color: #2d4263;
  text-align: center;
  padding: 40px 20px;
  border-radius: 60px 60px 0 0;
  border: 2px solid #00aaff;
  color: white;
}

.footer h2 {
  margin: 0;
  font-weight: 300;
  letter-spacing: 2px;
}

.footer p {
  margin: 15px 0;
}
.img-footer {
  width: 200px;
  height: 30px;
}

.voltar {
  width: 30px;
  height: 30px;
}
.card-navegacao {
  background-color: #1f1f1f;
  padding: 10px;
  color: white;
  overflow: hidden;
}

.card-navegacao img {
       width: 100%;
      height: auto;
      aspect-ratio: 1/1;
      object-fit: cover;
      border-top-left-radius: .375rem; 
      border-bottom-left-radius: .375rem;
      display: block;
}
.card-navegacao p {
  font-size: 0.9rem;
  text-align: left;

}

.card-navegacao-img {
  overflow: hidden;
}
.card-navegacao h3{
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;

}
