/* Navbar principal */
.custom-navbar {
  background-color: #2d4363 !important;
  padding: 12px 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1400;
}

/* Logo */
.logo {
  gap: 10px;
}

.logo-img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1); /* logo branca */
  margin-right: 8px;
}

.logo-text {
  font-family: "Julius Sans One", sans-serif;
  color: white;
  font-size: 1.5rem;
  margin: 0;
}

/* Navegação */
.middle-nav {
  gap: 30px;
  align-items: center;
}

/* Links padrão */
.nav-link-custom {
  color: white !important;
  transition: color 0.3s ease;
}

.nav-link-custom:hover {
  color: #d3cfff !important;
}

/* Botão de destaque */
.cta-button {
  background-color: #d3cfff;
  color: #030605 !important;
  padding: 8px 16px;
  border-radius: 25px;
  transition: all 0.3s ease;
}

.cta-button:hover {
  background-color: lightslategray;
  color: white !important;
  transform: translateY(-2px);
}

/* Footer */

.inicio-do-rodape {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.rodape {
  display: block;
  position: relative;
  background: linear-gradient(135deg, #2d4363 0%, #1e3c72 100%);
  text-align: center;
  padding: 40px 20px;
  border-radius: 60px 60px 0 0;
  border-top: 3px solid #00aaff;
  color: white;
  margin-top: 70px;
  width: 100vw;
}

.logo-rodape {
  width: 80px;
  height: 80px;
}

.rodape h2 {
  font-weight: 300;
  letter-spacing: 3px;
  margin: 0;
  margin-top: 8px;
  font-size: 2rem;
}

.rodape p {
  margin: 15px 0;
  font-size: 1.1rem;
}

.imagem-rodape {
  width: 30px;
  height: 30px;
  margin: 20px 5px;
}
