body {
  background-color: aliceblue !important;
  margin: 15px;
  padding: 0;
}
/* Banner inicial */
.banner-img {
    width: 100%;
    margin-top: 20px;     /* Espaço abaixo do menu */
    border-radius: 15px;  /* Bordas arredondadas */
    display: block;
}
.banner-container {
  position: relative;
  width: 100%;
  height: 50% !important;
  overflow: hidden;
}

main{
    margin:30px !important;
    padding: 0px !important;
    text-align: justify;
    
    
}
.TituloDestaque{
    margin-top: 5%;
    margin-bottom: 4%;
    margin-left: 30px;
    background-color: rgb(58, 58, 58);
    border-radius: 0px 20px 20px 20px;
    width:190px ;
    padding: 5px;
    color: #ffff;
    text-align: center;
    font-weight: bold;
}
#desc{
    font-size: 24px;
}
/* CARDS DE MAIS PROCURADOS */
.card-group {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between !important;
  padding: 80px;
}

.card {
  width: 25%;  /* 4 cards por linha no desktop com espaçamento */
  min-width: 200px;
  text-align: center;
  background-color:#121212 !important;
  color: #ffffff !important;
  border-radius: 25px !important;
  padding: 15px;
  transition: transform 0.3s ease;
  text-decoration: none;
}

.card:hover {
    transform: scale(0.90);
}

@media (max-width: 992px) {
  .card {
    width: 48%; /* 2 cards por linha em tablets */
  }
}

@media (max-width: 576px) {
  .card {
    width: 100%; /* 1 card por linha no celular */
  }
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 25px !important;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0) saturate(100%);
}
/* Cards de Destilados */
.circle-card {
      width: 15%;
      border-radius: 0%;
      overflow: visible;
      color: inherit;
      text-decoration: none;
      
      
    }

.card-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      padding: 40px;
      margin: 0 auto;

    }

.circle-img {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #6d6d6d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
    margin: 0 auto;
    object-fit: cover;
    width: 100%;
    height: auto;
    display: block;
    }

.circle-img:hover {
      transform: scale(0.90);
    }

.circle-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    }

.card-title {
      margin-top: 10px;
      font-size: 20px;
      font-weight: 550;
      text-align: center;
     
      
    }
